<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CALE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background-color: #f7f9fc;
        }

        .a-nav {
            color: black !important;
        }
            .a-nav:hover{
                                color: #ff5722 !important;
            }
        .navbar {
            background-color: #ffd4c6;
        }

        .navbar-brand {
            color: #ffffff;
        }

            .navbar-brand:hover {
                color: #ffc107;
            }

        .nav-link {
            color: #ffffff;
        }

            .nav-link:hover {
                color: #ffc107;
            }

        footer {
            background-color: #ffd4c6;
            color: #ffffff;
        }

            footer a {
                color: #ffc107;
            }

                footer a:hover {
                    color: #ffffff;
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-controller="Mascota" asp-action="Index">
                    <img src="~/foto.jpg" alt="Logo" class="rounded-circle" style="width: 50px; height: 50px; margin-right: 10px;">
                    <span class="text-dark">CALE</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link a-nav" asp-area="" asp-controller="Mascota" asp-action="Index">Ver Mascotas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav" asp-area="" asp-controller="Mascota" asp-action="Create">Dar en Adopción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-nav" asp-area="" asp-controller="Adopcion" asp-action="Index">Ver mis Adopciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container my-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted py-3">
        <div class="container text-center">
            &copy; 2024 - CALE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
